{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <h4 style="text-align: center; margin-top: 70px; margin-bottom: 40px;">Connexion</h4>
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div style="border: solid 1px black; font-weight: bold; font-size: 20px; padding: 5px; width: 400px; margin-left: auto; margin-right: auto; margin-bottom: 200px;">
        <form action="{{ path('login') }}" method="post">
            <div style="text-align: center;">
                <p style="font-size: 14px; margin-top: 30px;">Adresse mail :</p>
                <input type="text" id="username" name="_username" placeholder="..." required/>
            </div>
            <div style="text-align: center;">
                <p style="font-size: 14px; margin-top: 30px;">Mot de passe :</p>
                <input type="password" id="password" name="_password" placeholder="..." required/>
            </div>

            {# If you want to control the URL the user is redirected to on success
            <input type="hidden" name="_target_path" value="/account"/> #}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div style="text-align: center;">
                <button class="btn" type="submit" style="padding: 10px; margin-top: 40px; margin-bottom: 30px; font-size: 14px; background-color: black; color: white;">Connexion</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block footer %}
    <div style="background-color: lightgray; height: auto; width: auto; border: solid 1px black; padding: 50px;">
        <p style="text-align: center; color: black; border: double 4px black; width: 700px; padding: 10px; background-color: white; margin-left: auto; margin-right: auto;">By Karina TEYSSERE & Brandon REYNIER | © 2022 LazyMates, Inc.</p>
    </div>
{% endblock %}